body {
  padding-top:0px;;
}
.question{
	margin-top: 3%;
	margin-bottom: 3%;
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 16px;
}
.container{
	background-color: #FFF;
}
.form-container{
	margin-right: auto;
	margin-left: auto;
	margin: 4%;
}
.form-control{
	font-family: 'Lato', sans-serif;
}
.btn-primary{
	margin-top:3%;
	margin-bottom: 3%;
	background-color: #75D5FF;
	border-color: #75D5FF;
}
.btn-primary:hover{
	background-color: #5eb9e0;
	border-color: #5eb9e0;
}

/*.navbar-header{
	background-color: white;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
	border-width: 0px;
}*/
.page-title {
	margin-left: auto !important;
	margin-right: auto !important;
	text-align: center;
	font-family: 'Lobster', cursive;
	font-size: 48px;
	color: #75D5FF;
	border-top: 5%;
}
.sub-page-title{
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	font-family: 'Lobster', cursive;
	font-size: 18px;
	border-top: 0%;
	color: #75D5FF;
}
/*.navbar-fixed-top {
    top: 0;
    border-width: 0 0 0px;
}
.navbar-brand{
	font-family: 'Lobster', cursive;
	font-size: 48px;
	color: #75D5FF !important;
	margin-right: auto !important;
	margin-left: auto !important;
	border-top: 1%;
	border-bottom: 1%;
}*/
.glyphicon-remove:hover {
  cursor:pointer
}

.jumbotron{
	margin-left: auto;
	margin-right: auto;
	margin: 8%;
}